body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2E3141; /* Cor de fundo inspirada no tema Winter is Coming */
    color: #a2faff; /* Cor do texto */
}

.top_section {
    position: relative;
    text-align: center;
    padding: 4px;
}

header {
    background-color: #1B202C; /* Cor de fundo do cabeçalho */
    color: #40c6c8; /* Cor do texto do cabeçalho */
    padding: 30px;
    text-align: center;
    position: relative;
}

header .logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px; /* Largura do contêiner do logo */
    height: auto;
    
}

header .logo {
    width: 100%; /* Preenche todo o espaço do contêiner */
    height: auto;
}

nav {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #64bdd8; /* Cor do texto dos botões de navegação */
    font-weight: bold;
}



footer {
    background-color: #1B202C; /* Cor de fundo do rodapé */
    color: #558A9A; /* Cor do texto do rodapé */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos padrão para o botão do menu */
.menu-button {
    display: none; /* Oculta o botão em telas maiores */

}

/* Media Query para dispositivos móveis */
@media screen and (max-width: 600px) {

    .menu-button {
        display: block; /* Exibe o botão em telas menores */
        position:absolute; /* Fixa o botão na tela */
        top: 10px; /* Ajusta a posição vertical */
        right: 10px; /* Ajusta a posição horizontal */
        z-index: 999; /* Garante que o botão esteja acima de outros elementos */
        background-color: #1b202c00;
        width: 40px;
        height: 40px;
        background-image: url("../image/menu.png"); /* Substitua 'nome-da-pasta/imagem.png' pelo caminho real para sua imagem */
        background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o botão */
        background-repeat: no-repeat; /* Evita a repetição da imagem */
        border: none; /* Remove a borda do botão */
        cursor: pointer; /* Adiciona cursor de ponteiro ao passar o mouse */
    }

    header .logo-container {
        top: 5px;
        left: 5px;
        width: 70px;
    }

    nav.active {
        display: block;
        top: calc(100% + 10px); /* Define a posição para abaixo do header mais o espaço extra */
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul li a {
        text-decoration: none;
        color: #64bdd8; /* Cor do texto dos botões de navegação */
        font-weight: bold;
    }
}