

/* Estilos adicionais */

.produto {
    text-align: center;
    background-color: #205a7b;
    color: azure;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
    width: 100%;
}

.produto-interno{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.produto-interno > div {
    flex: 1; /* Distribui o espaço igualmente entre as divs internas */
}

.divimg-produto {
    display: flex;
    flex-direction: column; /* Coloca os itens um abaixo do outro */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 4%;

    
}

.imagem-produto {
    width: 70%; /* Define a largura como 50% da largura da página */
    height: auto; /* Mantém a proporção original da imagem */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da página */
    left: auto;
    border-radius: 20px;
}

.info-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-bottom: 10%;
}

.preco{
    color: #ff6a00;
}
/* tabela de tamanhos */
.tabela{
    background-color: #2E3141;
    border-radius: 10px;
    color: #44d4d4;
}
table {
    width: 100%;
    
    
    border-collapse: collapse; /* Remove espaçamento entre as células */
}

th, td {
    
    
    padding: 8px; /* Adiciona um preenchimento interno */
    text-align: left; /* Alinha o texto à esquerda */

}

th {
    border-bottom: 3px solid #257a7a; /* Adiciona uma linha separadora */
    /*background-color: #3ea8a8; /* Adiciona cor de fundo ao cabeçalho */
     /* Define a cor do texto do cabeçalho */
}

.entre-linhas{
    border-bottom: 3px solid #257a7a;
}



