
.internal-element{
    margin-bottom: 50px;
}
.quadro-superior{
    text-align: center;
    background-color: #205a7b;
    color: azure;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%, 0% 80%);
    width: 100%;
}
.quadro-2{
    
    color: azure;
    background-color: #205a7b;
    overflow: hidden;
    clip-path: polygon(0 90%, 0 5%, 47% 0, 100% 0, 100% 100%);
    width: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content {
    text-align: center;
}